<h1>{{pagetitle}}</h1>

{{#if desc}}
<p>{{desc}}</p>
{{else}}
<p>Description manually here</p>
{{/if}}


<div class="card-container">

    {{#each planets}}

    <article class="card" aria-labelledby="planet-{{@index}}">
        <div class="card-image">
            {{!-- CARD IMAGE HERE --}}
        </div>
        <div class="card-header">

            <h3 id="planet-{{@index}}">{{name}}</h3>
            <p><strong>Type: </strong> {{type}}</p>
        </div>

        <div class="card-body">
            <p><strong>Distance from Sun:</strong> {{formatNumber distance_from_sun_km}} km</p>
            <p><strong>Diameter:</strong> {{formatNumber diameter_km}} km</p>
            <p><strong>Number of Moons:</strong> {{formatNumber number_of_moons}}</p>
            
        </div>
    </article>

    {{/each}}


</div>